<%= content_for :title, "Documents" %>
<%= turbo_stream_from :documents %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Documents</h1>
    </div>
    <div class="flex space-x-2">
      <%= link_to t("scaffold.new.title", model: "Document"), new_document_path, class: "btn btn-secondary" %>
      <%= link_to "Batch Upload", new_batch_upload_documents_path, class: "btn btn-primary" %>
    </div>
  </div>

  <%= tag.div id: ("documents_by_month" if @pagy_by_month.page == 1), class: "bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded-md shadow p-6" do %>
    <% if @documents_by_month.any? %>
      <% @documents_by_month.each do |month, documents| %>
        <h2 class="text-xl font-semibold mb-4"><%= month&.strftime("%B %Y") || "No Date" %></h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
          <%= render partial: "documents/document", collection: documents, as: :document, cached: true %>
        </div>
      <% end %>
    <% else %>
      <div class="text-center mt-8">
        <p class="mb-4 h3">Create your first Document</p>
        <%= link_to t("scaffold.new.title", model: "Document"), new_document_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>

  <% if @pagy_by_month.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy_by_month) %>
    </div>
  <% end %>
</div>