<%= content_for :title, "Documents" %>
<%= turbo_stream_from :documents %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Documents</h1>

      <div class="text-sm font-medium">
        <span class="text-gray-500 dark:text-gray-300/75">Sort by:</span>
        <%= sortable @documents, :name, "Name", class: "text-gray-700 dark:text-gray-300 mr-1" %>
        <%= sortable @documents, :content, "Content", class: "text-gray-700 dark:text-gray-300 mr-1" %>
        <%= sortable @documents, :metadata, "Metadata", class: "text-gray-700 dark:text-gray-300 mr-1" %>
        <%= sortable @documents, :account_id, "Account", class: "text-gray-700 dark:text-gray-300 mr-1" %>
        <%= sortable @documents, :user_id, "User", class: "text-gray-700 dark:text-gray-300 mr-1" %>
      </div>
    </div>

    <%= link_to t("scaffold.new.title", model: "Document"), new_document_path, class: "btn btn-secondary" %>
  </div>

  <%= tag.div id: ("documents" if first_page?), class: "bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded-md shadow p-6" do %>
    <% if @documents_by_month.any? %>
      <% @documents_by_month.each do |month, documents| %>
        <h2 class="text-xl font-semibold mb-4"><%= month.strftime("%B %Y") %></h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
          <%= render partial: "documents/document", collection: documents, as: :document, cached: true %>
        </div>
      <% end %>
    <% else %>
      <div class="text-center mt-8">
        <p class="mb-4 h3">Create your first Document</p>
        <%= link_to t("scaffold.new.title", model: "Document"), new_document_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>

  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>