<tr id="<%= dom_id vendor %>" class="hover:bg-gray-50 dark:hover:bg-gray-800">
  <td class="px-6 py-4 whitespace-nowrap">
    <%= vendor.name %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= vendor.address %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= vendor.documents.count %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right">
    <%= link_to "View", vendor, class: "text-indigo-600 hover:text-indigo-900 dark:text-indigo-400 dark:hover:text-indigo-300" %>
  </td>
</tr>