<%= content_for :title, "Bank Accounts ##{@bank_account.id}" %>
<%= turbo_stream_from @bank_account %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Bank Accounts", bank_accounts_path, class: "text-black dark:text-white" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      Bank Account #<%= @bank_account.id %>
    </h1>
    <%= link_to t("edit"), edit_bank_account_path(@bank_account), class: "btn btn-secondary" %>
  </div>

  <div class="p-8 bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded shadow">
    <%= render @bank_account %>
  </div>
</div>

<%= link_to "Bank Account Statements", bank_account_bank_account_statements_path(@bank_account) %>